.App {
  text-align: center;
  font-family: sans-serif;
}

input{
  height: 30px;
  width: 300px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: rgb(129, 129, 129);
  color: white;
  border-width: 0;
  cursor: pointer;
}

button{
  margin-top: 30px;
  background-color: rgb(9, 157, 243);
  height: 45px;
  width: 200px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.details{
  margin-top: 40px;
}
